@import @import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: 'DM Sans', sans-serif;
}


.container{
    width: 1280px;
    height: 430px;
}

.quotes{
    width: 1280px;
    height: 516px;
}

.avatar-1{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    top: 563px;
    left: 600px;
}

.rectangle{
   width: 926px;
    height: 138px;
    background: rgb(250, 250, 250);
    position: absolute;
    left: 207px;
    top: 710px;
}

.marks{
  position: absolute;
  top: 32px;
  left: 50px;
}



.text-1{
    position: absolute;
    top: 47px;
    left: 87px;
    width: 750px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.name{
    position: absolute;
    top: 875px;
    left: 547px;
    width: 172px;
    height: 31px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}